[Unit]
Description=LootLink Daphne ASGI Daemon
After=network.target postgresql.service redis.service

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/lootlink
Environment="PATH=/opt/lootlink/venv/bin"
EnvironmentFile=/opt/lootlink/.env
ExecStart=/opt/lootlink/venv/bin/daphne -u /opt/lootlink/lootlink.sock --access-log /var/log/lootlink/daphne-access.log --verbosity 2 config.asgi:application
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

